name: Run Geometry Tests

on: [push]

jobs:
  test-on-ubuntu-and-windows:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Run unittest tests
      run: python -m unittest test_geometry.py